.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #f9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    
    display: flex;
    justify-items: space-around;
    
    padding: 16px;
}

a {
    text-decoration: none;
    color: #f9FAF8;
    font-size: 18px;
    


}

.section-1 {
    background-color: #1F2937;
    color: #f9FAF8;
    font-size: 24px;
    display: flex;
}

.section-2  {
    background-color: white;
    font-size:
}