.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #f9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    
    display: flex;
    justify-items: space-around;
    
    padding: 16px;
}

a {
    text-decoration: none;
    color: #f9FAF8;
    font-size: 18px;
}

.section-1 {
    background-color: #1F2937;
    color: #f9FAF8;
    font-size: 24px;
    display: flex;
}

.section-2  {
    background-color: white;
}

h2 {
    display: flex;
    justify-content: center;
}
.section-3 {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

.section-3 p{
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}

.box{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 25px;
}

.box-container{
    display:flex;
    justify-content: space-between;

}

.section-2 p {
    display: flex;
    justify-content: center;
}